*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-primary-color:#12b4ff;
    --space-xl:60px;
    --space-sm:20px;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    background: var(--bg-primary-color);
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    padding:  var(--space-xl) 0px;
    align-items: center;
    flex-direction: column;
    gap: var(--space-sm);
    position: relative;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 80vh;
    gap: var(--space-sm);
}
.game .box{
    width: 25%;
    height: 25%;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 10px 20px #baaeae7c;
    font-size: 4rem;
    font-weight: bolder;
    color: red;
    background-color: rgb(224, 186, 18);
    cursor: pointer;
}

.reset{
    width: 20%;
    border-radius: 5px;
padding: 15px 0px;
background-color: black;
color: white;
font-weight: bolder;
cursor: pointer;
border: none;
}
.model{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.306);
    backdrop-filter: blur(5px);
}
.model-text{
    width: 40%;
    height: 20vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.model-text h4{
    font-size: 2rem;
    font-family: monospace,sans-serif;
    font-weight: bolder;
}
.model-text span{
    color: rgb(21, 255, 0);
    font-size: 3rem;
}
